# Ignore thumbnails created by windows
Thumbs.db

*.opensdf
*.sdf
*.suo
/**/ipch/**

# external
external/BtLua-dist

# bubbletown
games/02-bubbletown/bin.win32*
games/02-bubbletown/Resources/lua/*.sublime-project
games/02-bubbletown/Resources/lua/*.sublime-workspace

# 本地的配置文件
*.user
/**/proj.android/local.properties
/**/proj.android/ant.properties

# 生成时的临时文件
/**/proj.win32/Debug.win32
/**/proj.win32/Release.win32
/**/proj.android/assets
/**/proj.android/bin
/**/proj.android/gen
/**/proj.android/obj
/**/proj.android/libs
/**/proj.android/.settings

# 生成的包
/**/bin/**/*.apk
/external/cocos2d-x-dist
