# Ignore thumbnails created by windows
Thumbs.db

# 依赖项生成的中间目录
/02-bubble-town/Dependencies/BtLua-v0.1.0


# 测试用的资源文件
/**/Resources/test_texture_pool/map

# 本地的配置文件
/**/proj.android/local.properties
/**/proj.android/ant.properties

# 生成时的临时文件
/**/proj.win32/Debug.win32
/**/proj.win32/Release.win32
/**/proj.android/assets
/**/proj.android/bin
/**/proj.android/gen
/**/proj.android/obj
/**/proj.android/libs
/**/proj.android/.settings

# 生成的包
/**/bin/**/*.apk
